#wrapper{
    background-color: #4094a5;
    width: 100%;
}

#name{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
#logo-perfil{
    display: block;
    margin: auto;
    width: 5em;
    height: 5em;
}

#siderbar{
    width: 20%;
    height: 100vh;
    background-color: rgb(130, 233, 238);
}

#siderbar.active{
    margin-left: -300px;
}

#siderbar ul li {
    font-size: 1em;
}
.siderbar-header{
    
}

#content2{
    margin: auto;
    display:flex;
    align-items:center;
    width: 20em;
    height: 100vh;
}

#content-3{
    margin: auto;
    display:flex;
    align-items:center;
    width: 25em;
    height: 100vh;
}

.contenedor{
    width: auto;
    height: auto;
    background-image: url('public/img/wallpaper_login.jpg');
    background-repeat:no-repeat;
}


.list{
    padding-left: 0;
    list-style: none;
}

#siderbar ul li a {
    text-decoration: none;
    
    padding: 5px 0;
    display: block;
    color: rgba(188, 55, 55, 0.8);
    border-bottom: 3px solid rgba(176, 169, 169, 0.677);
}

.navbar-center{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vitrina{
    
    background-color: #69A6A4;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5) !important;
    color: white ;
    font-size: 1.2em;
    border-radius: 1.5em;
}

.bg-fondo1 {
    color: #fff !important;
    background-color: RGBA(105, 166, 164, var(--bs-bg-opacity, 1)) !important;
}

.shadow-xy {
    border-radius: 1em;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.175) !important;
}

.btn-continuar{
    
    color: #ffff;
    background-color: #DC5716;
    border-color:  rgb(220, 87, 22);
    border-radius: 0.5em;
    /* border-color: 0.5em solid rgb(0,0,0,0.5); */
}

.btn-outline-continuar {
    --bs-btn-color: rgb(220, 87, 22);
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
  }